<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967872205422-YOUR_CLIENT_ID.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967872205422-YOUR_CLIENT_ID</string>
	<key>API_KEY</key>
	<string>AIzaSyBz4EfU40riAMXt3sdKFFFq5Lc_X5W6WGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>967872205422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multisalesApp</string>
	<key>PROJECT_ID</key>
	<string>multisales-18e57</string>
	<key>STORAGE_BUCKET</key>
	<string>multisales-18e57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967872205422:ios:YOUR_IOS_APP_ID</string>
</dict>
</plist>
